<ion-content class="ion-padding">
    <ion-row class="ion-align-items-center">
        <ion-col>
            <h6 style="color: #001D6E; font-weight: 800;">Welcome {{ currentUser }} !!! </h6>
        </ion-col>
        <ion-col class="ion-align-self-center">
            <ion-button color="primary" style="float: right;" id="triggerbutton_one">
                Add Customer
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-list>
        <div *ngFor="let item of _data; let i = index;">
            <ion-card>
                <ion-item>
                    <ion-label>{{ item.customerName }}</ion-label>
                    <ion-button fill="outline" slot="end">
                        <ion-icon name="color-wand"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-card-content>
                    <p style="color: #5c84f5;">Mobile Number - {{ item.mobileNumber }}<br />
                        GuarantorName - {{ item.guarantorName }}<br />
                        Address - {{ item.address }}<br /></p>
                </ion-card-content>
                <ion-item>
                    <ion-label>Select If you want to Add </ion-label>
                    <ion-button fill="outline" slot="end" (click)="presentAlertConfirm(item.customerId)">
                        <ion-icon name="person-sharp"></ion-icon>
                    </ion-button>
                </ion-item>

            </ion-card>

        </div>
    </ion-list>

    <ion-modal trigger="triggerbutton_one">
        <ng-template>
            <div style="background-color: #001D6E;" class="app-header">
                <h1 style="color: #fff; font-weight:800;">Add customer</h1>
            </div>
            <ion-grid class="scrollbar" id="style-1">
                <form (ngSubmit)='save()' [formGroup]="customerForm">
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Customer Name</ion-label>
                                <ion-input type="text" formControlName="customerName" placeholder=""></ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!customerForm.controls['customerName'].valid && 
                                customerForm.controls['customerName']?.touched"> Name is required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Guarantor Name</ion-label>
                                <ion-input type="text" formControlName="guarantorName" placeholder=""></ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!customerForm.controls['guarantorName'].valid && 
            customerForm.controls['guarantorName']?.touched"> Father/Husband name is required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Referred By</ion-label>
                                <ion-input type="text" formControlName="referredBy" placeholder=""></ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!customerForm.controls['referredBy'].valid && 
              customerForm.controls['referredBy']?.touched"> Aadhar number is required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Address</ion-label>
                                <ion-textarea type="text" formControlName="address" placeholder="Enter Address...">
                                </ion-textarea>
                            </ion-item>
                            <span class="text-danger" *ngIf="!customerForm.controls['address'].valid && 
            customerForm.controls['address']?.touched"> Address is required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Mobile No</ion-label>
                                <ion-input type="tel" formControlName="mobileNumber" placeholder="" minlength="10"
                                    maxlength="10" (keydown)="validateNumber($event)"></ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!customerForm.controls['mobileNumber'].valid && 
            customerForm.controls['mobileNumber']?.touched"> Mobile number is required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Adhaar Number</ion-label>
                                <ion-input type="tel" formControlName="aadharNumber" placeholder="" maxlength="12">
                                </ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!customerForm.controls['aadharNumber'].valid && 
            customerForm.controls['aadharNumber']?.touched"> Aadhar number is required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines=none>
                                <ion-label position="stacked">File Upload</ion-label>
                                <ion-input type="file" formControlName="fileUpload" accept="application/pdf"
                                    (change)="uploadcandidateFile($event)" placeholder=""></ion-input>
                            </ion-item>
                        </ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button class="saveButton" color="tertiary" type="submit" [disabled]="!thisFormValid()">
                                Save</ion-button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>
        </ng-template>
    </ion-modal>